/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #555;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 15px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: #000;
  display: block;
}

.active {
  background-color: #4CAF50;
}

/* Style the main content from sidebar */
.main {
  margin-left: 90px; /* Same as the width of the sidenav */
  margin-top: 0px;
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/*header styles */
h1, {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.custom-colored-h1
{
    color: #2bc4a1;
}

/*body styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.container {
  min-width: 500px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container-login {
  margin-top: 10px;
  min-width: 500px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: center;
  border: 1px;
}

/*link styles */
a {
  color: #18bc9c;
  text-decoration: none;
  background-color: transparent;
}

.login-url {
  float: right;
  margin-top: 10px;
}

a:hover {
  color: #0f7864;
  text-decoration: underline;
}

/*table styles */
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  overflow: hidden;

}

.table td {
  overflow-wrap: break-word;

}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

@media (max-width: 600px) {
  .table td {
    overflow-wrap: normal;
  }
}



/* form styles */
.form-control {
  display: block;
  min-width: 50%;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b8a8b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #7b8a8b;
}

.form-control:focus {
  color: #7b8a8b;
  background-color: #fff;
  border-color: #597ea2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
}

textarea.form-control {
  height: auto;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  resize: vertical;
}

.form-group {
  min-width: 300px;
  display: block;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

select.form-control[size], select.form-control[multiple] {
  height: auto;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control-file {
  display: block;
  width: 100%;
}

fieldset {
  min-width: 50%;
  padding: 0;
  margin: 0;
  border: 0;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input,
button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
}

.btn {
  min-width: 100px;
  margin-top: 10px;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
}

.btn-primary {
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1e2b37;
  border-color: #1a252f;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #1e2b37;
  border-color: #1a252f;
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-danger:hover {
  color: #fff;
  background-color: #e12e1c;
  border-color: #d62c1a;
}

.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #e12e1c;
  border-color: #d62c1a;
  box-shadow: 0 0 0 0.2rem rgba(235, 103, 89, 0.5);
}

/* switcher */
/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 50px;
 height: 25px;
 margin-right: 8px;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: default;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 18px;
 width: 20px;
 left: 3px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #2bc4a1;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2bc4a1;
}

input:checked + .slider:before {
 -webkit-transform: translateX(24px);
 -ms-transform: translateX(24px);
 transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}

/* image styles */
img {
    border-top: 10px;
    margin-right:10px;
    margin-top:10px;
}

/* alerts */
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-login {
  position: absolute;
  padding: 0.3rem 1rem;
  margin-bottom: 15rem;
  margin-left: 5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-register {
  position: absolute;
  padding: 0.3rem 1rem;
  margin-bottom: 26rem;
  margin-left: 11rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #0c6251;
  background-color: #d1f2eb;
  border-color: #beece3;
}

.alert-danger {
  color: #78281f;
  background-color: #fadbd8;
  border-color: #f8cdc8;
}

/* preloader */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999;
  display: block;
}

.loader-line1 {
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50%;
  border-top-color: #2bc4a1;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  animation: 2s spin infinite;
  z-index: 2;
}

.loader-line2 {
  width: 130px;
  height: 130px;
  border: 3px solid white;
  border-radius: 50%;
  border-top-color: #2bc4a1;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  animation: 3s spin infinite;
  z-index: 1;
}

.loader-line3 {
  width: 140px;
  height: 140px;
  border: 3px solid white;
  border-radius: 50%;
  border-top-color: #2bc4a1;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  animation: 3s spin infinite;
  z-index: 1;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
